<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace绑定一个对应的Dao接口 -->
<mapper namespace="com.luo.mybatis.mapper.DepartmentMapper">

    <select id="selectByName" parameterType="java.lang.String" resultType="com.luo.mybatis.pojo.Department">
        select id, department_name
        from department
        where department_name = #{departmentName}
    </select>
</mapper>
